> The empty response had me chasing my tail for days trying to figure out the problem.

Logging is usually a solution when you end up in this situation. Crank up the verbosity of the logs in appsettings.json

> Logging is usually a solution when you end up in this situation. Crank up the verbosity of the logs in appsettings.json

I'm not sure if appsettings.json is a special .NET file used in the build process somewhere. I can't find any files named that.

Jellyfin does have a config file with log verbosity, which I maxed, but as I said, this request never gets to Jellyfin code, so that didn't help me.

I also enabled `UseConnectionLogging()`, but it didn't produce any extra log output for some reason.

I don't think any of this discounts what I said, anyway. I can't see what it would hurt for Kestrel to be a bit more helpful with its error message here. I didn't even start trying to increase log verbosity until an hour or two into investigating.

FWIW, this nginx config is working for me as a workaround:
```
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection $http_connection;
```
Not sure why this isn't the default in shipped config and documentation.

It will throw a `RequestRejectionReason.UpgradeRequestCannotHavePayload` 400 if there is data:

https://github.com/aspnet/AspNetCore/blob/9abf4bfe3f09d0dafc9b7abd8441e6683e9bf612/src/Servers/Kestrel/Core/src/Internal/Http/Http1MessageBody.cs#L130-L135

`proxy_set_header Connection $http_connection;`

Ah; it should be `keep-alive` or `close`, don't think `Upgrade` is a valid value for the `Connection` header?

> I'm not sure if appsettings.json is a special .NET file used in the build process somewhere. I can't find any files named that.

What does your application look like and how did you create it?

> I also enabled UseConnectionLogging(), but it didn't produce any extra log output for some reason.

Likely because logging was not verbose enough.

> I don't think any of this discounts what I said, anyway. I can't see what it would hurt for Kestrel to be a bit more helpful with its error message here. I didn't even start trying to increase log verbosity until an hour or two into investigating.

It doesn't but I didn't try to address that. I'm interested in why logging didn't immediately lead you to what's going on. 

> Ah; it should be `keep-alive` or `close`? Don't think `Upgrade` is a valid value for the `Connection` header?

From [RFC7230 section 6.1](https://tools.ietf.org/html/rfc7230#section-6.1):

> When a header field aside from Connection is used to supply control information for or about the current connection, the sender MUST list the corresponding field-name within the Connection header field.

I guess the intended interpretation is that `Connection: upgrade` is a no-op.

> It will throw a `RequestRejectionReason.UpgradeRequestCannotHavePayload` 400 if there is data:

It seems that reason code isn't making it into the request output, at least in the AspNetCore version being used by Jellyfin. It would have been pretty helpful!

(If someone could help me figure out how to test what version is being used, I'd be happy to add that info here in the bug)

May I ask the reason why this test exists though? I don't see anything about payload requirements in [RFC7230 section 6.7](https://tools.ietf.org/html/rfc7230#section-6.7). I'm not an expert on interpreting RFCs, but I am a huge fan of [Postel's law](https://en.wikipedia.org/wiki/Robustness_principle), which seems to be violated here. I can say that I've used the same nginx config to reverse proxy a dozen different http servers for years, and only Kestrel has choked on it.

> May I ask the reason why this test exists though? I don't see anything about payload requirements in RFC7230 section 6.7. I'm not an expert on interpreting RFCs, but I am a huge fan of Postel's law, which seems to be violated here. I can say that I've used the same nginx config to reverse proxy a dozen different http servers for years, and only Kestrel has choked on it.

@sbrudenell The code is trying to determine which type of body to present to the application and it can't in this can't figure out which one to prefer, a content-length or an upgrade stream (raw body). That's why it throws. 

> (If someone could help me figure out how to test what version is being used, I'd be happy to add that info here in the bug)

Run `dotnet --info` on the command line.

> From RFC7230 section 6.1:

Ah my mistake :)

> FWIW, this nginx config is working for me as a workaround:

What's in the `$http_upgrade` header from the original rules? Also in section 6.1:

> A  proxy or gateway MUST parse a received Connection header field before
   a message is forwarded and, for each connection-option in this field,
   remove any header field(s) from the message with the same name as the
   connection-option, and then remove the Connection header field itself
   (or replace it with the intermediary's own connection options for the
   forwarded message).

Also I might be completely wrong about the reason for the request's rejection :)

`appsettings.json` is generally in the root with the cs.proj with the Program.cs and an optional file that you can control and change the settings with

> I'm not sure if appsettings.json is a special .NET file used in the build process somewhere. I can't find any files named that.

So for example you might have (which should probably output more detail on the 400)
```
{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  }
}
```
And you can turn it up with
```
{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  }
```
Though this is assuming you are using the DefaultBuilder for the webserver (i.e. what is in Program Main); which reads appsettings.json, as you don't have to read it if you construct it manually, or you may be overriding logging in .Configure()

> What's in the `$http_upgrade` header from the original rules? 

Apparently the `$http_x` variables are just the original headers. From [some nginx core documentation](https://nginx.org/en/docs/http/ngx_http_core_module.html#variables):

>$http_name
>arbitrary request header field; the last part of a variable name is the field name converted to lower case with dashes replaced by underscores

> `appsettings.json` is generally in the root with the cs.proj with the Program.cs and an optional file that you can control and change the settings with

I don't find any `appsettings.json` anywhere in Jellyfin. I guess they do the embedded `.Configure()` method as you described.

If it helps clarify things somehow: I am a developer, but I am *not* a Jellyfin developer. I was just trying to get it to run and ended up needing to dig pretty deep in its source code to debug this issue. I'm not even sure I'm reproducing their official build process correctly.

Can you point us at jelly fin (I have no idea what it is)

> Jellyfin configures its Kestrel server here: https://github.com/jellyfin/jellyfin/blob/v10.4.1/Emby.Server.Implementations/ApplicationHost.cs#L615

It seems reasonable to ignore `Connection: upgrade` header when the app code isn't actually attempting to upgrade.

Loose parsing if the internet facing server (Kestrel) then forwards the request to another server can cause security issues https://portswigger.net/research/http-desync-attacks-request-smuggling-reborn

Probably what to find out the reason its being rejected first (which hasn't been established) and then determine why that choice was made.

@benaadams Agreed, but the [NGINX guidance for WebSockets](https://www.nginx.com/blog/websocket-nginx/) explicitly configures it to unconditionally send `Connection: upgrade` (which still seems wrong...) so I'm just saying we need to evaluate a fix here.

Yes, so `Connection: upgrade` is saying the the connection info is in the `Upgrade` header; which is likely fine. (I was wrong earlier)

It could be being rejected because its a upgrade with a body; or its a post with an upgrade, or something else

Yes, so `Connection: upgrade` is saying the the connection info is in the `Upgrade` header; which is likely fine. (I was wrong earlier)

It could be being rejected because its a upgrade with a body; or its a post with an upgrade, or it has no actual `Upgrade` header for the connection or something else.

Its a debug level message; I assume not to fill the logs with junky requests.

"BadHttpRequestException: 'Requests with 'Connection: Upgrade' cannot have content in the request body.'"
```
dbug: Microsoft.AspNetCore.Server.Kestrel[39]
      Connection id "0HLRA36OL1VB1" accepted.
dbug: Microsoft.AspNetCore.Server.Kestrel[1]
      Connection id "0HLRA36OL1VB1" started.
dbug: Microsoft.AspNetCore.Server.Kestrel[17]
      Connection id "0HLRA36OL1VB1" bad request data: "Requests with 'Connection: Upgrade' cannot have content in the request body."
Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException: Requests with 'Connection: Upgrade' cannot have content in the request body.
   at Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException.Throw(RequestRejectionReason reason)
   at Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.Http1MessageBody.For(HttpVersion httpVersion, HttpRequestHeaders headers, Http1Connection context)
   at Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.Http1Connection.CreateMessageBody()
   at Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.HttpProtocol.ProcessRequests[TContext](IHttpApplication`1 application)
   at Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.HttpProtocol.ProcessRequestsAsync[TContext](IHttpApplication`1 application)
dbug: Microsoft.AspNetCore.Server.Kestrel[10]
      Connection id "0HLRA36OL1VB1" disconnecting.
dbug: Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets[6]
      Connection id "0HLRA36OL1VB1" received FIN.
dbug: Microsoft.AspNetCore.Server.Kestrel[2]
      Connection id "0HLRA36OL1VB1" stopped.
dbug: Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets[7]
      Connection id "0HLRA36OL1VB1" sending FIN because: "The Socket transport's send loop completed gracefully."
```

```
curl -X POST \
  https://.... \
  -H 'Connection: upgrade' \
  -H 'Content-Length: 3' \
  -H 'Content-Type: application/x-www-form-urlencoded' \
  -H 'cache-control: no-cache'
```

Content-Length of 0 its happy with
```
curl -X POST \
  https://portal.ageofascent.com:44329/Identity/Account/Logout \
  -H 'Connection: upgrade' \
  -H 'Content-Length: 0' \
  -H 'Content-Type: application/x-www-form-urlencoded' \
  -H 'cache-control: no-cache'
```

Content-Length of 0 its happy with
```
curl -X POST \
  https://.... \
  -H 'Connection: upgrade' \
  -H 'Content-Length: 0' \
  -H 'Content-Type: application/x-www-form-urlencoded' \
  -H 'cache-control: no-cache'
```

Don't particularly see anything in the spec saying its disallowed (as the method is POST)

> The presence of a message-body in a request is signaled by the inclusion of a Content-Length or Transfer-Encoding header field in the request's message-headers. A message-body MUST NOT be included in a request if the specification of the request method (section 5.1.1) does not allow sending an entity-body in requests. A server SHOULD read and forward a message-body on any request; if the request method does not include defined semantics for an entity-body, then the message-body SHOULD be ignored when handling the request.

However it has also come up before https://github.com/aspnet/KestrelHttpServer/issues/1263#issuecomment-331264006

> Our behavior is stricter than what's specified in the HTTP spec. That said, other servers (e.g. http.sys based servers) also reject upgrade requests that indicate the presence of a request body (by including a Transfer-Encoding: chunked or Content-Length header. cc @Tratcher