 JwtRegisteredClaimNames invalid references to RFC7519 

### Describe the bug
Invalid JwtRegisteredClaimNames and invalid references to RFC7519 standard documentation.

I wanted to use actor claim validation but it was failing since I implemented [OAuth Token Exchange Draft](https://tools.ietf.org/html/draft-ietf-oauth-token-exchange-16)

I traced this a while, and found out that logic was different so had to implement my own case.
But while tracing I found many claim types pointing to RFC7519 standard - Section 4 
( [RFC7519 Section 4](http://tools.ietf.org/html/rfc7519#section-4) )
, but they don't exist there.

### To Reproduce
Open JwtRegisteredClaimNames (Go To Definition) class in IDE or editor of choice and 
compare to [RFC7519 Section 4](http://tools.ietf.org/html/rfc7519#section-4)

You will see wrong references and non existing claim types that refer to RFC7519 Section 4.
### Expected behavior
To be in sync with standard

### Screenshots
![screenshot](https://user-images.githubusercontent.com/9515864/54754570-15b01a00-4be4-11e9-952b-b5878f825111.png)

### Additional context
Versions: All up to latest 5.4.0 from [System.IdentityModel.Tokens.Jwt NuGet package](https://www.nuget.org/packages/System.IdentityModel.Tokens.Jwt)


System.identity model isn't owned by asp.net I'm afraid, please recreate your issue at https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet