TestHost WebSocketClient does not pass SubProtocols

### Describe the bug

Per [RFC6455 Section 1.9](https://tools.ietf.org/html/rfc6455#section-1.9), most applicable Web Socket classes support `Sec-WebSocket-Protocol` headers. However, despite exposing a [`SubProtocol`](https://github.com/aspnet/AspNetCore/blob/v3.0.0/src/Hosting/TestHost/src/WebSocketClient.cs#L35-L39) property on the TestHost [`WebSocketClient`](https://github.com/aspnet/AspNetCore/blob/v3.0.0/src/Hosting/TestHost/src/WebSocketClient.cs), the client does not generate the necessary Headers.

### To Reproduce

Steps to reproduce the behavior:

1. Using this version of ASP.NET Core '3.0.0'
2. Run this code:

```csharp
[Fact]
public async Task WebSocketSubProtocolsWorks()
{
    // Arrange
    RequestDelegate appDelegate = async ctx =>
    {
        if (ctx.WebSockets.IsWebSocketRequest)
        {
            if (ctx.WebSockets.WebSocketRequestedProtocols.Contains("alpha") &&
                ctx.WebSockets.WebSocketRequestedProtocols.Contains("bravo"))
            {
                // according to rfc6455, the "server needs to include the same field and one of the selected subprotocol values"
                // however, this isn't enforced by either our server or client so it's possible to accept an arbitrary protocol.
                // Done here to demonstrate not "correct" behaviour, simply to show it's possible. Other clients may not allow this.
                var websocket = await ctx.WebSockets.AcceptWebSocketAsync("charlie");
                await websocket.CloseAsync(WebSocketCloseStatus.NormalClosure, "Normal Closure", CancellationToken.None);
            }
            else
            {
                var subprotocols = ctx.WebSockets.WebSocketRequestedProtocols.Any()
                    ? string.Join(", ", ctx.WebSockets.WebSocketRequestedProtocols)
                    : "<none>";
                var closeReason = "Unexpected subprotocols: " + subprotocols;
                var websocket = await ctx.WebSockets.AcceptWebSocketAsync();
                await websocket.CloseAsync(WebSocketCloseStatus.InternalServerError, closeReason, CancellationToken.None);
            }
        }
    };
    var builder = new WebHostBuilder()
        .Configure(app =>
        {
            app.Run(appDelegate);
        });
    var server = new TestServer(builder);

    // Act
    var client = server.CreateWebSocketClient();
    client.SubProtocols.Add("alpha");
    client.SubProtocols.Add("bravo");
    var clientSocket = await client.ConnectAsync(new Uri("wss://localhost"), CancellationToken.None);
    var buffer = new byte[1024];
    var result = await clientSocket.ReceiveAsync(new ArraySegment<byte>(buffer), CancellationToken.None);

    // Assert
    Assert.Equal(WebSocketMessageType.Close, result.MessageType);
    Assert.Equal("Normal Closure", result.CloseStatusDescription);
    Assert.Equal(WebSocketState.CloseReceived, clientSocket.State);
    Assert.Equal("charlie", clientSocket.SubProtocol);

    clientSocket.Dispose();
}
```

3. ~~With these arguments '....'~~
4. See error

```
Microsoft.AspNetCore.TestHost.TestClientTests.WebSocketSubProtocolsWorks
   Source: TestClientTests.cs line: 236
   Duration: 96 ms

  Message: 
    Assert.Equal() Failure
              ↓ (pos 0)
    Expected: Normal Closure
    Actual:   Unexpected subprotocols: <none>
              ↑ (pos 0)
```

### Expected behavior

`WebSocketClient` should set the `Sec-WebSocket-Protocol` header to the values contained in aforementioned `SubProtocols` property when `ConnectAsync` is called.

### Screenshots

*N/A*

### Additional context

*Will submit a PR shortly*

You can workaround the above using the `ConfigureRequest` property:

```csharp
webSocketClient.ConfigureRequest = request => 
    request.Headers.Add("Sec-WebSocket-Protocol", webSocketClient.SubProtocols.ToArray());
```
