React template index.html caching?

Hi,

I seem to be facing a problem when deploying a new build to my server. 

It seems that index.html is cached by the browser and tries to load the old bundle, which leads to a 404.

Any ideas how to fix this?

Thanks!

This setup works for me (Create React App hosted on Azure App Service).

```c#
app.UseSpaStaticFiles(new StaticFileOptions()
{
    OnPrepareResponse = ctx =>
    {
        if (ctx.Context.Request.Path.StartsWithSegments("/static"))
        {
            // Cache all static resources for 1 year (versioned filenames)
            var headers = ctx.Context.Response.GetTypedHeaders();
            headers.CacheControl = new CacheControlHeaderValue
            {
                Public = true,
                MaxAge = TimeSpan.FromDays(365)
            };
        }
        else
        {
            // Do not cache explicit `/index.html` or any other files.  See also: `DefaultPageStaticFileOptions` below for implicit "/index.html"
            var headers = ctx.Context.Response.GetTypedHeaders();
            headers.CacheControl = new CacheControlHeaderValue
            {
                Public = true,
                MaxAge = TimeSpan.FromDays(0)
            };
        }
    }
});
```

```c#
app.UseSpa(spa =>
{
    spa.Options.SourcePath = "ClientApp";
    spa.Options.DefaultPageStaticFileOptions = new StaticFileOptions()
    {
        OnPrepareResponse = ctx => {
            // Do not cache implicit `/index.html`.  See also: `UseSpaStaticFiles` below
            var headers = ctx.Context.Response.GetTypedHeaders();
            headers.CacheControl = new CacheControlHeaderValue
            {
                Public = true,
                MaxAge = TimeSpan.FromDays(0)
            };
        }
    };

    if (env.IsDevelopment())
    {
        //spa.UseReactDevelopmentServer(npmScript: "start");
        spa.UseProxyToSpaDevelopmentServer("http://localhost:3000");
    }
});
```

- Does not cache index or client-side routing (that returns index)
  - `Cache-Control: public, max-age=0`
- Caches all `/static/*` resources for 1 year (versioned/sha'd filenames like javascript bundles)
  - `Cache-Control: public, max-age=31536000`
- Does not cache any other resources (`manifest.json`, `service-worker.js`, etc)
  - `Cache-Control: public, max-age=0`

The main issue I had before making this change was because there was not an explicit `Cache-Control` header but there was a `Last-Modified` header, browsers would use this to cache the response.

> Finally, if neither header is present, then we look for a "Last-Modified" header.  If this header is present, then the cache's freshness lifetime is equal to the value of the "Date" header minus the value of the "Last-modified" header divided by 10.  This is the simplified heuristic algorithm suggested in RFC 2616 section 13.2.4.

- https://www.w3.org/Protocols/rfc2616/rfc2616-sec13.html#sec13.2.4
- https://webmasters.stackexchange.com/a/53944

I can confirm that @techniq 's solution also works for me.  Thanks!

Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

I tried the solution from @techniq but it is now working, and breakpoints in `OnPrepareResponse` are never hit.
I copied the code exactly, I also tried without the checks so everything would be given a cache of 365 days, but everything is returned with `cache-control | public, max-age=0` so for me, at least, the question has not been answered.
@mkArtakMSFT what is your solution?

